.centered {
  display: flex;
  justify-content: center;
  background-color: #b1b0bc;
}

.fuckAlura {
  display: flex;

  background-color: #b1b0bc;
}

.teste {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;

  margin-right: 100px;
  margin-top: 200px;
}

.teste2 {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}
